/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantcatalogue -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data

    input                      = 'assets/samplesheet.csv'
    tmp_dir                    = 'tmp/'

    // Genome references
    genome            = 'GRCh38'
    reference         = 'hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa'
    reference_index   = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/reference/hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa.fai'

     if (genome == 'GRCh38') {
         Mitochondrial_chromosome = 'chrM'
         chrom                    = ['chr20', 'chrX', 'chrY']
     } else (genome == 'GRCh37') {
         Mitochondrial_chromosome = 'MT'
         chrom                    = (1..22) +  ['X', 'Y']
     } else {
         Mitochondrial_chromosome = 'TO DEFINE'
         chrom                    = 'TO DEFINE'
     }



    schema_ignore_params = "ref_genome_MT, ref_genome_MT_index, ref_genome_MT_dict, ref_genome_MT_shifted, ref_genome_MT_shifted_index, ref_genome_MT_shifted_dict, blacklist_sites_hg38_MT, blacklist_sites_hg38_MT_index, control_region_shifted_reference_interval_list, non_control_region_interval_list, ShiftBack_chain, mitotip_predictions_table, pon_predictions_table, artifact_prone_sites_bed"

    //MT specific files
    ref_genome_MT                                   = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta"
    ref_genome_MT_index                             = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta.fai"
    ref_genome_MT_dict                              = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.dict"
    ref_genome_MT_shifted                           = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta"
    ref_genome_MT_shifted_index                     = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.fai"
    ref_genome_MT_shifted_dict                      = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.dict"
    blacklist_sites_hg38_MT                         = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/blacklist_sites.hg38.chrM.bed"
    blacklist_sites_hg38_MT_index                   = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/blacklist_sites.hg38.chrM.bed.idx"
    control_region_shifted_reference_interval_list  = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/control_region_shifted.chrM.interval_list"
    non_control_region_interval_list                = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/non_control_region.chrM.interval_list"
    ShiftBack_chain                                 = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/ShiftBack.chain"
    
//    gnomad_MT_frequ                                 = "testdata/gnomad.genomes.v3.1.sites.chrM.reduced_annotations.tsv"
    mitotip_predictions_table                       = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/mitotip_scores_08_27_2020.txt'
    pon_predictions_table                           = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/pon_mt_trna_predictions_08_27_2020.txt'
    artifact_prone_sites_bed                        = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/artifact_prone_sites.bed'


    // SV specific files
    genes_file         = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/testdata/reference/Hg38_chr20.genes.bed'
    transposon_file    = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/testdata/reference/transposons.txt'
    variant_catalog    = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/testdata/reference/variant_catalog_chr20.json'
    smoove_bed_exclude = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/testdata/reference/exclude.cnvnator_100bp.GRCh38.20170403.bed"


    //Annotation files
    severity_table                   = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/severity_table.tsv"
    vep_cache_merged                 = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/VEP/"
    vep_cache_merged_version         = "105"
    dir_plugin                       = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/VEP/Plugins/"
    CADD_1_6_whole_genome_SNVs       = 'GRCh38/CADD/V1.6/whole_genome_SNVs.tsv.gz'
    CADD_1_6_whole_genome_SNVs_index = 'GRCh38/CADD/V1.6/whole_genome_SNVs.tsv.gz.tbi'
    CADD_1_6_InDels                  = 'GRCh38/CADD/V1.6/gnomad.genomes.r3.0.indel.tsv.gz'
    CADD_1_6_InDels_index            = 'GRCh38/CADD/V1.6/gnomad.genomes.r3.0.indel.tsv.gz.tbi'
    spliceai_snv                     = 'GRCh38/SPLICEAI/spliceai_scores.masked.snv.hg38.vcf.gz'
    spliceai_snv_index               = 'GRCh38/SPLICEAI/spliceai_scores.masked.snv.hg38.vcf.gz.tbi'
    spliceai_indel                   = 'GRCh38/SPLICEAI/spliceai_scores.masked.indel.hg38.vcf.gz'
    spliceai_indel_index             = 'GRCh38/SPLICEAI/spliceai_scores.masked.indel.hg38.vcf.gz.tbi'
}
