/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantcatalogue -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '60.GB'
    max_time   = '6.h'

    // Input data

    input                      = 'assets/samplesheet.csv'
    tmp_dir                    = 'tmp/'
    test_bed = 'test.bed'

    // Genome references
    genome            = 'GRCh38'
    reference         = 'hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa'
    reference_index   = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/reference/hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa.fai'

    species           = 'Homo_sapiens' 
    cache_version     = '105'
    cache_path        = []
    vep_extra_files   = []

    Mitochondrial_chromosome = 'chrM'
    reference_MT                                   = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta"
    reference_MT_index                             = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.fasta.fai"
    reference_MT_dict                              = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.dict"
    reference_MT_shifted                           = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta"
    reference_MT_shifted_index                     = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.fai"
    reference_MT_shifted_dict                      = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.dict"
    blacklist_sites_hg38_MT                         = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/blacklist_sites.hg38.chrM.bed"
    blacklist_sites_hg38_MT_index                   = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/blacklist_sites.hg38.chrM.bed.idx"
    control_region_shifted_reference_interval_list  = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/control_region_shifted.chrM.interval_list"
    non_control_region_interval_list                = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/non_control_region.chrM.interval_list"
    ShiftBack_chain                                 = "https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/ShiftBack.chain"
    mitotip_predictions_table                       = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/mitotip_scores_08_27_2020.txt'
    pon_predictions_table                           = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/pon_mt_trna_predictions_08_27_2020.txt'
    artifact_prone_sites_bed                        = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/mitochondrial_references/artifact_prone_sites.bed'



}
