/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/variantcatalogue -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '72.GB'
    max_time   = '6.h'

    // Input data

    input                      = 'assets/samplesheet.csv'
    tmp_dir                    = 'tmp/'
    test_bed = 'test.bed'

    // Genome references
    genome            = 'GRCh38'
    reference         = 'hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa'
    reference_index   = 'https://raw.githubusercontent.com/scorreard/Variant_catalogue_pipeline/main/testdata/reference/hg38_full_analysis_set_plus_decoy_hla_chr20_X_Y_MT.fa.fai'


}
